<div>
        {
            itemCategories.map((i)=> {
                <div class="w-6/12 bg-slate-200 mx-auto my-3 py-4 px-4 cursor-pointer" onClick={changeShowItems}>
                    <div class="text-bold flex justify-between">
                        <h1>{i.card.card.title}</h1>
                        <span>🔽</span>
                    </div>
                    {showItems && <AccordianBody items = {i.card.card.itemCards}/>}
                </div>
            })
        }
         </div>



Map not working in Accordian 
nestedItemCategory to be executed
CSS make good
make a promoted keyword using higher order component